/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
* {margin:0; padding:0}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}


.section1 {
  padding: 16px 64px 0px 64px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  max-width: 60px;
  height: auto;
  padding-right: 16px;
}
.hero-main {
  color: #F9FAF8;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.header a,
.content p,
.content button {
  font-size: 14px;
  color: #E5E7EB;
}

.header a {
  text-decoration: none;
}

.section1 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 120px 0;
}
.section1 .col1 {
  width: 500px;
}
.hero-main {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 8px;
}

.content button {
  background-color: #3882F6;
  padding: 4px 24px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

.content img {
  max-width: 500px;
  height: auto;
}

.content p {
  padding-bottom: 8px;
}

.section2 h1 {
  padding: 32px 0;
  font-weight: 900;
}

.section2 {
  text-align: center;
  padding-bottom: 120px;
}

.section2 .container {
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.section2 img {
  width: 150px;
  height: auto;
  padding-bottom: 8px;
  border: 3px solid #3882F6;
  border-radius: 8px;
  padding: 8px;
}

.instrument {
  max-width: 200px;
}

.section2 .container .text {
  font-weight: bold;
  font-size: 20px;
}

.section3 {
  background-color: #E5E7EB;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.section3 .quote {
  flex: 1;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: 900px;
}

.section3 .author {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
}

.section4 {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.section4 .container {
  background-color: #3882F6;
  max-width: 900px;
  padding: 50px 100px;
  flex: 1;
  border-radius: 8px;
}

.section4 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4 .title {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 20px;
}

.section4 .text {
  color: #E5E7EB;
}

.section4 button {
  background-color: #3882F6;
  border-color: #F9FAF8;
  color: #F9FAF8;
  padding: 4px 24px;
  border-radius: 4px;
  font-weight: bold;
  border-style: solid;
  flex-shrink: 0;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}